.page_number {page-break-after: always; display: none; text-align: center;}
.page_number span {float: right;}
.page_number_end {display: block; padding-bottom: 10px;}
@media print {
    .print_hide {display: none;}
    .page_number {page-break-after: always; display: block;}
    .page_number_end {padding-bottom: 0px;}
}
