.page_number {
    display: none;
    text-align: center;
}
.page_number span {
    page-break-after: always;
    float: right;
}
.page_number_end {
    display: block;
    padding-bottom: 10px;
}
span {
    font-size: x-small;
}
@media print {
    h1, h2, h3, h4, h5, h6, blockquote, ul, p {
        margin: 0;
    }
    h1 {
        padding-bottom: 0px;
    }
    table {
        margin-bottom: 0px;
    }
    .print-btn {
        display: none;
    }
    .print_hide {
        display: none;
    }
    .page_number {
        page-break-after: always;
        display: block;
    }
    .page_number_end {
        padding-bottom: 0px;
    }
    .markdown-body h1:first-child {
        display: none;
    }
}
